<!DOCTYPE html>
<html lang="en">
<head>
	<title>我是活动标题</title>
	<%- css('index.css') %>
    <script type="text/javascript">
        var title="我是活动标题";
        var activity="<%= activity %>";
	</script>
</head>
<body>
<div id="content">
    <div class="activity-modules">
        <div class="activity-module">
<img src="<%= images('1.jpg') %>"  alt="极装吉住家装季" />
<button class="activity-button" style="top:1332.00px;left:656.00px;width:628.00px;height:244.00px;"></button>
</div>
<div class="activity-module">
<img src="<%= images('2.jpg') %>"  alt="极装吉住家装季" />
<div id="j_form1" form-baoming="1" >
<input type="text" class="c1" data-placeholder="请输入您的姓名" style="top:704.00px;left:340.00px;width:1240.00px;height:188.00px;" />
<input type="tel" class="c2" data-placeholder="请输入您的联系方式" maxlength="11" style="top:944.00px;left:336.00px;width:1240.00px;height:188.00px;" />
<button class="btn_submit" style="top:1188.00px;left:344.00px;width:1236.00px;height:252.00px;"></button>
</div>
</div>
<div class="activity-module">
<img src="<%= images('3.jpg') %>"  alt="极装吉住家装季" />
</div>
<div class="activity-module">
<img src="<%= images('4.jpg') %>"  alt="极装吉住家装季" />
</div>
<img src="<%= images('5.jpg') %>" alt="极装吉住家装季" />
<img src="<%= images('6.jpg') %>" alt="极装吉住家装季" />
<img src="<%= images('7.jpg') %>" alt="极装吉住家装季" />
<img src="<%= images('8.jpg') %>" alt="极装吉住家装季" />
<img src="<%= images('9.jpg') %>" alt="极装吉住家装季" />
<img src="<%= images('10.jpg') %>" alt="极装吉住家装季" />
<img src="<%= images('11.jpg') %>" alt="极装吉住家装季" />
<img src="<%= images('12.jpg') %>" alt="极装吉住家装季" />
<img src="<%= images('14.jpg') %>" alt="极装吉住家装季" />
<img src="<%= images('15.jpg') %>" alt="极装吉住家装季" />

	</div>
    <div class="common_form">
        <div id="j_form" form-baoming>
            <img src="<%= images('form-bg.png') %>"  alt=""/>
            <input type="text" class="c1"  data-placeholder="请输入您的姓名">
            <input type="tel" class="c2"  data-placeholder="请输入您的联系方式" maxlength="11">
            <button class="btn_submit"></button>
            <div class="form-close"></div>
        </div>
    </div>
</div>
<script>
</script>
<%- js('jquery.js') %>
<%- js('index.js') %>
</body>
</html>
